/* .ControlBar__button {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #0e2b22;
  color: white;
} */

.EntryListItem {
  border: solid 1px #4a5d23;
  padding: 0px 20px 20px 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  font-size: 14px;
}

.DeleteEntry__button {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #0D0A36;
  color: white;
  font-size: 12px;
}